.glass-handle-section{
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}
.glass-img{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 3rem;
}
.glass-img > img{
    width: 60% ;

}
.handle-img>img{
    width: 100%;
    height: 100%;
    box-sizing: block;
    object-fit: cover;
}
@media (max-width: 900px) {
    .glass-handle-section{
        width: 100vw;
        height: auto;
        margin: 2rem 0rem 2rem 0rem;
        flex-shrink: 0;
        display: grid;
        grid-template-columns: auto;
    }
    .handle-img{
        justify-content: center;
    }
    .handle-img>img{
        width:100%;
        object-fit: cover;
    }
    .glass-img{
        align-items:center;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .glass-img > img{
        width: 20rem;
        height: 20rem; 
        object-fit: cover;   
    }
}