.polo-gif{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-shrink: 0;
}
.polo-gif img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
@media (max-width: 900px) {
    .polo-gif{
        margin: 2rem 0rem 2rem 0rem ;
    }
}
